#Projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#Projects h2 {
  text-transform: uppercase;
  font-size: 40px;
  font-weight: 900;
  background: linear-gradient(90deg, #ff8660 0%, #d5491d 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 40px;
}

.container-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 35px;
  margin-bottom: 100px;
}

@media (max-width: 1300px) {
  .container-cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 850px) {
  .container-cards {
    grid-template-columns: repeat(1, 1fr);
  }
}
